#root {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.example {
  height: 20rem;
  background-color: bisque;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

.product {
  height: 20rem;
  background-color: skyblue;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}